#logout{
    float:right;
}
.user{
    float: right;
    margin-right: 10px;
}
#header{
   width: 100%;
   height: 30px;
   background-color: cornsilk;
}
#newstitle{
    display: flex;
    justify-content: center;
    height: 35px;
    border: 1px ridge;
}


.flex-column{
    display: flex;
    flex-direction: column;
    border: 1px ridge; 
}

