.picture{
    width: 120px;
    height:180px;
    background-color:grey;
    float: left;
    margin: 20px;
}
.news{
    float: left;
}
p{
    width: 500px;
}  
.title{
    background-color: darkblue;
    height: 70px;
    color:aliceblue;
}

.date{
   margin-top: 20px;
} 
.newsfeed{
    clear: both;
    border-bottom: 0.7px solid grey;
    width: 660px;
}
.dropdown{
    width:210px;
    height: 30px;
    margin-top: 10px;
}
.button{
    background-color:black;
    width:70px;
    height: 32px;
    float: left;
    color: aliceblue
}
.input{
    width:140px;
    height: 27px;
    float: left;
}
.end{
    clear: both;
    background-color:darkblue;
    height: 30px;
    text-align: center;
    color: aliceblue;
}
.button2{
    background-color:rgb(218, 102, 59);
    height: 35px;
}
.page{
    margin-left: 200px;
    margin-right: 300px;
}